<div class="container">
<div class="row">
<div class="col s12 m6 push-m3">
    <div *ngIf="loading" class="progress">
      <div class="indeterminate"></div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Register</span>
            <form (ngSubmit)="validateForm(true) && register()" [formGroup]="form" novalidate>
                <div *ngIf="invalid"  id="card-alert" class="card red lighten-5">
                    <div class="card-content red-text">
                        <p>Something went wrong. Please try again later.</p>
                    </div>
                </div>
                <div *ngIf="conflictError"  id="card-alert" class="card red lighten-5">
                      <div class="card-content red-text">
                        <p>An account with this email already exists.</p>
                    </div>
                </div>
              <div class="input-field">
                  <input required
                         type="email"
                         id="email"
                         formControlName="email"
                         [ngClass]="{ 'invalid': formErrors.errors.hasOwnProperty('email') }">

                   <label for="email" [attr.data-error]="formErrors.errors.email">E-Mail</label>
              </div>
              <div class="input-field">
                  <input required
                         id="password"
                         type="password"
                         formControlName="password"
                         [ngClass]="{ 'invalid': formErrors.errors.hasOwnProperty('password') }">
                   <label for="password" [attr.data-error]="formErrors.errors.password">Password</label>
              </div>
              <div class="input-field">
                  <input required
                         id="confirmPassword"
                         type="password"
                         formControlName="confirmPassword"
                         [ngClass]="{ 'invalid': formErrors.errors.hasOwnProperty('confirmPassword') }">
                   <label for="confirmPassword" [attr.data-error]="formErrors.errors.confirmPassword">Confirm password</label>
              </div>
              <div class="input-field">
                  <input id="firstName"
                         type="text"
                         formControlName="firstName">
                   <label for="firstName">Firstname</label>
              </div>
              <div class="input-field">
                  <input id="lastName"
                         type="text"
                         formControlName="lastName">
                   <label for="lastName">Lastname</label>
              </div>
              <button [disabled]="loading" class="btn waves-effect waves-light" type="submit">Sign up!</button>
              <button class="btn-flat waves-effect" routerLink="/login">Sign in!</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
