<div class="container">
<div class="row">
<div class="col s12 m6 push-m3">
    <div *ngIf="loading" class="progress">
      <div class="indeterminate"></div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Login</span>
            <form (ngSubmit)="validateForm(true) && login()" [formGroup]="form" novalidate>
                <div *ngIf="invalid"  id="card-alert" class="card red lighten-5">
                      <div class="card-content red-text">
                        <p>Username or password is invalid</p>
                    </div>
                </div>
              <div class="input-field">
                  <input required
                         type="email"
                         id="email"
                         formControlName="email"
                         [ngClass]="{ 'invalid': formErrors.errors.hasOwnProperty('email') }">

                   <label for="email" [attr.data-error]="formErrors.errors.email">E-Mail</label>
              </div>
              <div class="input-field">
                  <input required
                         id="password"
                         type="password"
                         formControlName="password"
                         [ngClass]="{ 'invalid': formErrors.errors.hasOwnProperty('password') }">
                   <label for="password" [attr.data-error]="formErrors.errors.password">Password</label>
              </div>

              <button [disabled]="loading" class="btn waves-effect waves-light" type="submit">Sign in!</button>
              <button class="btn-flat waves-effect" routerLink="/registration">Sign up!</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
