<div class="col-xs-12 col-md-4 col-md-offset-4 loginWindow">
    <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
    <md-card>
        <md-card-title>Login</md-card-title>
        <md-card-content>
            <form (ngSubmit)="login()" #f="ngForm">
              <div *ngIf="invalid" class="alert alert-danger" role="alert">Username or password is invalid</div>
              <md-input-container>
                  <input mdInput [disabled]="loading" [(ngModel)]="username" name="username" placeholder="Username" value="">
              </md-input-container>
              <md-input-container>
                <input mdInput mdInput [disabled]="loading" [(ngModel)]="password" name="password"   type="password" placeholder="Password" value="">
                </md-input-container>
                <button [disabled]="loading" md-raised-button color="primary" type="submit">Login</button>
            </form>
        </md-card-content>
    </md-card>
</div>
