<header>
    <nav>
      <div class="nav-wrapper" id="main-nav">
        <a routerLink="" class="brand-logo">Recipemanager</a>
        <a href="#" data-activates="sidenav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li>
            <a href="#!" class="dropdown-button" data-activates="user-dropdown">
                <i class="small material-icons left">account_circle</i>
                <span class="hide-on-small-only">{{user.getFullName()}}</span>
            </a>
        </li>
        </ul>
        <ul id="user-dropdown" class="dropdown-content">
          <li><a href="#!">Settings</a></li>
          <li class="divider"></li>
          <li><a routerLink="logout">Logout</a></li>
        </ul>
        </div>
    </nav>
    <ul class="side-nav fixed" id="sidenav">
      <li class="logo"><a routerLink=""><img src="assets/images/logo.png"></a></li>
      <li class="divider"></li>
      <li><a routerLink="">Dashboard</a></li>
      <li class="divider"></li>
      <li><a href="#!">Categories</a></li>
      <li><a href="#!">Recipes</a></li>
      <li class="divider"></li>
  </ul>
</header>

<div class="row">
    <div class="col hide-on-med-and-down l3">

    </div>
    <main class="col s12 l9">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
</div>

 <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
