@import "~variables.scss";

@media #{$medium-and-up} {
  .container {
    width: $container-width-medium !important;
  }
}
@media #{$large-and-up} {
  .container {
    width: $container-width-large !important;
  }
}

// Fix bug in input field error message
label.active {
    width: 100%;
}
